<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Chair</td>
                <th>The Laid Back</td>
                <th>The Worker Bee</td>
                <th>The Chair 4/2</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Width</td>
                <td>80 cm</td>
                <td>60 cm</td>
                <td>220 cm</td>
            </tr>
            <tr>
                <th>Height</td>
                <td>80 cm</td>
                <td>60 cm</td>
                <td>220 cm</td>
            </tr>
            <tr>
                <th>Weight</td>
                <td>80 kg</td>
                <td>60 kg</td>
                <td>220 kg</td>
            </tr>
        </tbody>
    </table>
</body>
</html>