<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Hero</title>
</head>
<body>
    <header>
        <nav class="container">
            <div>Logo</div>
            <div>Nav</div>
        </nav>
        <div class="header-container">
            <div class="header-container-inner">
                <h1>A healthy meal delivered to your door every single day</h1>
                <p>The smart 365-day-per-year food subscription that will make you reat healthy again. Tailored to your personal tastes and nutritional needs</p>
                <a href="#" class="btn">Start eating well</a>
            </div>
        </div>
    </header>
    <section>
        <div  class="container">
            <h2>Some randome heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem placeat soluta molestias tempora odio iste laudantium et, aut enim suscipit ad fuga, saepe omnis! Tenetur optio ipsa maxime cum obcaecati? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolore quod magni animi eum deserunt explicabo tempore, asperiores quae ipsum tempora voluptate officiis aut distinctio sit nesciunt, pariatur consectetur ea?</p>
        </div>
    </section>
</body>
</html>