* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    /* outline: 3px dotted var(--base-primary-color-darker);
    outline-offset: 7px; */
    outline: none;
    box-shadow: 0 0 0 0.6rem #a1a1a1bd;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-weight: var(--base-font-weight);
    font-family: var(--base-font-family);
    line-height: var(--base-line-height);
    color: var(--base-text-color);
    overflow-x: hidden;

}

.section {
    opacity: 0;
    transform: translateY(50px); /* Slightly offset downward */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Class to show sections smoothly */
.section.show {
    opacity: 1;
    transform: translateY(0); /* Reset position */
}

.primary-heading,
.secondary-heading,
.tertiary-heading {
    font-weight: var(--base-font-weight-bold);
    color: var(--primary-heading-text-color);
    letter-spacing: -0.5px;
}

.primary-heading {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.secondary-heading {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.tertiary-heading {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2rem;
    font-weight: var(--base-font-weight-medium);
    color: var(--base-primary-color-darker);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--base-primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in;
    border: none;
    cursor: pointer;
}

.btn-full:link,
.btn-full:visited {
    color: var(--base-white-color);
    background-color: var(--base-primary-color);
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--base-primary-color-darker);
}

.btn-outline:link,
.btn-outline:visited {
    color: var(--base-text-color);
    background-color: var(--base-white-color);
}

.btn-outline:hover,
.btn-outline:active {
    background-color: var(--base-white-color-darker);
    box-shadow: inset 0 0 0 3px var(--base-white-color);
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: var(--base-text-color-darker);
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.btn-form {
    background-color: #550a28;
    color: var(--base-primary-color);
    align-self: end;
    padding: 1.034rem;
}

.btn-form:hover {
   background-color: var(--base-white-color-darker);
   color: var(--base-text-color); 
}

.btn-form:focus {
    outline: none;
    box-shadow: 0 0 0 0.6rem #a1a1a1bd;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: var(--base-primary-color-darker);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--base-tints-color-darker);
    border-bottom: 1px solid transparent; /* Remove the border without changing height */
}

.list {
    list-style: none;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: var(--base-primary-color-darker);
}